body {
    background: linear-gradient(0.25turn, #4b7b9c, 40%, #b9d8da);;
}

/*to add logo to login page need to go to admin panel for realm and set:
<div  class="kc-logo-text"></div>
*/
.navbar-title {
    background-image: url(../img/ki-nrw-logo.svg);
    background-repeat: no-repeat;
}